<div id="slider1" style="width: 600px; height: 338px;">
    <a href="activities" style="display:none">
        <img src="/images/chesem.gif" width="600" height="338" title="Jagdeep S Cheema in a seminar"
            alt="" /></a>
    <a href="activities" style="display:none">
        <img src="/images/child1.jpg" width="600" height="338" title="Health education for children"
            alt="" /></a>
    <a href="activities" style="display:none">
        <img src="/images/grayladyc1.jpg" width="600" height="338" title="Women Empowerment"
            alt="" /></a>
    <a href="activities" style="display:none">
        <img src="/images/IMG_1077.gif" width="600" height="338"
            title="Helping the blind with Braille" alt="" /></a>
    <a href="activities" style="display:none">
        <img src="/images/lovefarrmer600.jpg" width="600" height="338" title="Supporting the farmers"
            alt="" /></a><a href="activities" style="display:none"><img
            src="/images/P1010744_1.gif" width="600" height="338" title="" alt="" /></a>
</div>
<link rel='stylesheet' href='/css/nivo-slider.css' type='text/css' />
<script type='text/javascript' src='/Scripts/jquery.nivo.slider.pack.js'>
</script>
<script type='text/javascript'>$(window).load(function () { LoadSlider('#slider1'); });</script>
