<!DOCTYPE html>
<html lang="en-US">

<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="contents" title="{{page.title}}" href="/{{page.url}}" />
    <link rel="start" title="{{site.title}}" href="/" />
    <link href="/css/Global.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="NGO,Foundation Trust, Blind, Agriculture, wheat, rice, foundation, farmers, banks, potters, India, Punjab, cultivation, boona cheema, jagdeep singh, indira gandhi, seed, green, revolution " />
    <meta name="description"
        content="Dr Amrik Singh Cheema Foundation Trust is a NGO dedicated to propagate the principles, philosophy and sacred missions of his life." />
    <meta name="copyright" content="Dr Amrik Singh Cheema Foundation Trust 2002-2004" />
    <meta name="Author" content="pukhrajbal" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="10 days" />
    <link rel="shortcut icon" href="/images/fav.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style-min.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/typography.css" type="text/css" />
    <script type="text/javascript" src="/Scripts/Auto/01-jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/02-jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/04-jquery-jtemplates.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/05-json2.min.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/blog.js"></script>


    <script type="text/javascript">
        function changeFontSize(inc) {
            var p = document.getElementsByTagName('body');
            for (n = 0; n < p.length; n++) {
                if (p[n].style.fontSize) {
                    var size = parseInt(p[n].style.fontSize.replace("px", ""));
                } else {
                    var size = 12;
                }
                p[n].style.fontSize = size + inc + 'px';
            }
        }
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <meta name="description" content="{{page.title}}" />
    <title>
        Cheematrust
    </title>
</head>

<body>
    <form class="body">

        <div id="container">

            <div class="hd">
                <a href="/">
                    <img alt="Dr Amrik Singh Cheema Foundation Trust - Logo" src="/images/logotext.gif"
                        style="float: left" />
                </a>
            </div>

            <div class="fade_base">
                <p id="fade_link" style="color: rgb(120, 120, 120);"><span
                        style="width: 200px; font-family: Georgia; font-size: 16px">To give is religion</span></p>
            </div>
            <div class="textoptions">
                <div style="float: left; margin-right: 5px">
                    <a href="javascript:changeFontSize(1);">
                        <img id="plustext" title="Increase text size" src="/images/bigA.gif" width="15px"
                            height="16px" /></a>
                    <a href="javascript:changeFontSize(-1);">
                        <img id="minustext" title="Decrease text size" src="/images/smallA.gif" width="15px"
                            height="16px" /></a>
                </div>
                <div id="google_translate_element">
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/" rel="home">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/objectives">Objectives</a></li>
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/news">Press</a></li>
                    <li><a href="/contact">Contact</a></li>

                </ul>
            </div>

            <div id="content">

                <!-- <h1>{{page.title}}</h1> -->
                {{ content }}

            </div>
            {%- if page.hideSidebar != true -%}
            <div id="sidepanel">
                <section class="widget">
                    <div class="content">
                        <h4 class="color3">Initiatives</h4>
                        <div align="center">
                            <a title="Initiatives" href="/initiatives">
                                <img src="/images/BlindInitiativeLogo.gif" alt=""
                                    style="height: 76px; width: 159px" /></a>
                        </div>
                        <ul style="margin: 20px auto 5px">
                            <li><a href="/Health-Programs">Health Education Program</a></li>
                            <li><a href="/Visual-Programs">Visual Impairment Program</a></li>
                        </ul>
                    </div>
                </section>


                <section style="text-align: center">
                    <a href="/volunteer">
                        <img src="/images/volunteerLeft.jpg" alt="Volunteer for us" title="Click to Volunteer" /></a>
                </section>

                <section>
                    <div id="widgetzone_be_WIDGET_ZONE" class="widgetzone">
                        <div class="widget search" id="widgetfb38ecdd-5813-4d10-8c5f-8d901c7c731e">


                            <div class="content">
                                <div id="searchbox">
                                    <label for="searchfield" style="display:none">Search</label><input type="text"
                                        value="Search our website" id="searchfield"
                                        onkeypress="if(event.keyCode==13) return BlogEngine.search('/')"
                                        onfocus="BlogEngine.searchClear('Search our website')"
                                        onblur="BlogEngine.searchClear('Search our website')" /><input type="button"
                                        value="Search" id="searchbutton" onclick="BlogEngine.search('/');"
                                        onkeypress="BlogEngine.search('/');" /></div>

                            </div>
                        </div>

                        <div class="widget recentposts" id="widget353e2b84-e4c5-4845-87b6-b86738812e86">


                            <h4>
                                Recent Posts</h4>

                            <div class="content">
                                <ul class="recentPosts" id="recentPosts">
                                    <li><a href="/visual/2018/05/10/visual-testimonials">Testimonials</a></li>
                                    <li><a href="/health/2016/07/17/Health-Check-up-Camp-2016.html">Health Check-up Camp 2016</a></li>
                                    <li><a href="/news/2016/07/18/50-years-of-Green-Revolution.html">50 years of Green Revolution</a>
                                    </li>
                                    <li><a href="/health/2013/05/12/Health-Campaign-2013.html">Health Campaign 2013</a></li>
                                    <li><a href="/health/2013/05/08/DASCFT-Arpan-Padhai-Join-Hands.html">DASCFT &amp; Arpan - Padhai Join
                                            Hands</a></li>
                                    <li><a href="/visual/2013/05/08/Communications-workshops-for-the-visually-impaired.html">Communications
                                            workshops for the visually impaired</a></li>
                                    <li><a href="/health/2012/11/20/Health-Campaign-2012.html">Health Campaign 2012</a></li>
                                    <li><a href="/visual/2012/10/11/Eye-Camp-at-GMSSS-Sec-10.html">Eye Camp at GMSSS – Sec 10</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget recenttweets" id="widget2edfa815-344d-42c4-ba22-3df938369e24">
                            <h4>
                                Recent Tweets</h4>
                            <div class="content">
                                <div
                                    id="ctl00_widgetContainer2edfa815344d42c4ba223df938369e24_2edfa815344d42c4ba223df938369e24_dvTwitterMode">
                                    <a class="twitter-timeline" href="https://twitter.com/DASCFT"
                                        data-widget-id="430228711820886016">Tweets by @DASCFT</a>
                                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            {%- endif -%}
            <div class="push">
            </div>
        </div>
        <div id="footer">

            <div class="left">
                <a href="/" rel="home">Home</a>
                |
                <a href="/contact">Contact</a>
                |
                <a href="/management">Management</a>
                |
                <a href="/supporters">Supporters</a>
                | <a href="/careers">Careers</a>
                |
                <a href="/volunteer">Volunteer</a>
                |
                <a href="/videos">Videos</a>
                <br />
                <font size="1">Website first appeared December 1, 2002</font>
            </div>
            <div class="right">
                <a href="http://www.facebook.com/pages/Dr-Amrik-Singh-Cheema-Foundation-Trust-DASCFT/136609786416626"
                    target="_blank" title="Facebook">
                    <img src="/images/social/facebook.jpg" alt="CheemaTrust Facebook" /></a>
                <a href="http://twitter.com/#!/DASCFT" target="_blank" title="Twitter">
                    <img src="/images/social/twitter.jpg" alt="CheemaTrust Twitter" /></a>
            </div>

        </div>

        {% include analytics.html %}
        </script>
    </form>
    <script type="text/javascript" src="/Scripts/marquee.js"></script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
