---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <h1><a href="{{page.url | relative_url}}" class="taggedlink">{{page.title}}</a></h1>

    <header class="post-header">
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                    itemprop="name">{{ page.author | escape }}</span></span>
            {%- endif -%}</p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
        {%- if page.source -%}
        <p><a title="Source" href="{{ page.source }}" target="_blank"><img src="/images/stock_news.png" alt=""></a>
        </p>
        {%- endif -%}</p>
    </div>

    {% include related.html %}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
